<a href="https://colab.research.google.com/github/LittleHehet/Analisis-de-Datos-Alexia-Alvarado-Alfaro/blob/main/Laboratorio_2_CSV_Grupo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Integrantes**

Kendra Artavia Caballero

Alexia Alvarado Alfaro

Jose Soto Perez

Johey Artavia Barrantes

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('/content/Covid.csv')
data=pd.DataFrame(df)
print(data)

          Country iso3  year  month     sex age_group       type  \
0     Afghanistan  AFG  2020      1  Female      0-24  predicted
1     Afghanistan  AFG  2020      2  Female     25-34  predicted
2     Afghanistan  AFG  2020      3  Female     35-44  predicted
3     Afghanistan  AFG  2020      4  Female     45-54  predicted
4     Afghanistan  AFG  2020      5  Female     55-64  predicted
...           ...  ...   ...    ...     ...       ...        ...
4651     Zimbabwe  ZWE  2021      8    Male     45-54  predicted
4652     Zimbabwe  ZWE  2021      9    Male     55-64  predicted
4653     Zimbabwe  ZWE  2021     10    Male     65-74  predicted
4654     Zimbabwe  ZWE  2021     11    Male     75-84  predicted
4655     Zimbabwe  ZWE  2021     12    Male       >85  predicted

      expected.mean  acm.mean  excess.mean*
0             23088     23425           337
1             22412     22461            49
2             21921     20939          -982
3             21207     20137         -1071
4             20485     21559          1074
...             ...       ...           ...
4651           9716     11971          2254
4652           9518     10292           774
4653           9385      9678           293
4654           9272      9584           311
4655           9363     11418          2054

[4656 rows x 10 columns]

grupo de datos por dos columnas

In [ ]:
dataFiltered = data.loc[(data['Country']=="Belgium")&(data['sex']=="Female")]
print(dataFiltered)

     Country iso3  year  month     sex age_group      type  expected.mean  \
288  Belgium  BEL  2020      1  Female      0-24  reported          10026
289  Belgium  BEL  2020      2  Female     25-34  reported          10278
290  Belgium  BEL  2020      3  Female     35-44  reported          10039
291  Belgium  BEL  2020      4  Female     45-54  reported           9110
292  Belgium  BEL  2020      5  Female     55-64  reported           8591
293  Belgium  BEL  2020      6  Female     65-74  reported           8278
294  Belgium  BEL  2020      7  Female     75-84  reported           8362
295  Belgium  BEL  2020      8  Female       >85  reported           8238
304  Belgium  BEL  2021      5  Female      0-24  reported           8559
305  Belgium  BEL  2021      6  Female     25-34  reported           8265
306  Belgium  BEL  2021      7  Female     35-44  reported           8333
307  Belgium  BEL  2021      8  Female     45-54  reported           8231
308  Belgium  BEL  2021      9  Female     55-64  reported           8158
309  Belgium  BEL  2021     10  Female     65-74  reported           8530
310  Belgium  BEL  2021     11  Female     75-84  reported           9037
311  Belgium  BEL  2021     12  Female       >85  reported           9980

     acm.mean  excess.mean*
288     10185            32
289      9378         -1027
290     11668          1502
291     15294          6057
292      9538           820
293      7993          -412
294      8005          -484
295      9848          1483
304      9262           699
305      8156          -113
306      8456           119
307      8296            61
308      8296           134
309      9768          1234
310     10319          1278
311     11267          1283

sort de un grupo de datos, los primeros 10

In [ ]:
#Los 10 primeros promedio con mayor muertes asociadas con el covid en el sexo masculino
dataFiltereadM=data.loc[(data['sex']=='Male')]
print(dataFiltereadM.sort_values(by=['excess.mean*'],ascending=False)[['Country', 'excess.mean*','sex' ]].head(10))

                 Country  excess.mean*   sex
1887               India        334180  Male
1880               India        312170  Male
1881               India        229869  Male
1884               India        216738  Male
1883               India        216065  Male
1882               India        135686  Male
3549  Russian Federation        125422  Male
1885               India        121815  Male
3550  Russian Federation         98519  Male
1867           Indonesia         94954  Male

realizar un calculo de un promedio y explicarlo

In [ ]:
dataFiltered = data.loc[(data['Country'] =='India')]
print(dataFiltered['excess.mean*'].max())

1303368