<a href="https://colab.research.google.com/github/LittleHehet/Analisis-de-Datos-Alexia-Alvarado-Alfaro/blob/main/video_primera_clase_intro_analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

año bisiesto ejercicio

ejercicio practica if else

In [ ]:
print("Ejercicio Bisiesto")
anio=int(input("Ingrese el año: "))
if(anio % 400 == 0)or(anio % 4 == 0) and (anio % 100 != 0):
  print("El año es bisiesto")
else:
  print("el año no es bisieto")

Ejercicio Bisiesto
Ingrese el año: 2022
el año no es bisieto

ejercicio con switch = casos (no condiciones) Ejemplo evalucion de los meses del año

In [ ]:
switcher={1: "enero",2:"febrero",3:"marzo",4:"abril",5:"mayo",6:"junio",7:"julio",8:"agosto",9:"septiembre",10:"octubre",11:"noviembre",12:"diciembre"}
argument=int(input("ingrese un numero: "))
nombreDeMes=switcher.get(argument,"Mes invalido")
print(nombreDeMes)

ingrese un numero: 13
Mes invalido

CICLOS
*While
*Foreach = lista para iterar elementos.
si tiene un solo parametro; de cero hasta menor que el numero
range(10) crea una lista del 0 al 9
range(inicio,fin)
range(1,10) crea una lista del 1 al 9
range(inicio, fin, incremento/decremento)
range(1,10,2) crea una lista de 1 a 9 de 2 en 2

Problema 1
se coloca un capital C  a un interes I (entre 0 y 100) durante M años y se desea saber en cuanto se habra convertido ese capital M años, sabiendo que es acumulativo

In [ ]:

C=-1
I=0
M=0

while(C<0) or (I<=0) or (I>=100) or (M<=0):
  print("Introduce el capital. el interes. y el tiempo apropiado")
  C=int(input("Capital: "))
  I=int(input("Intereses: "))
  M=int(input("Tiempo en Anios: "))

for i in range(M):
  C=C*(1+I/100)
  print ("Monto",C,"colones")

Introduce el capital. el interes. y el tiempo apropiado
Capital: 1000
Intereses: 10
Tiempo en Anios: 20
Monto 1100.0 colones
Monto 1210.0 colones
Monto 1331.0 colones
Monto 1464.1000000000001 colones
Monto 1610.5100000000002 colones
Monto 1771.5610000000004 colones
Monto 1948.7171000000005 colones
Monto 2143.5888100000006 colones
Monto 2357.9476910000008 colones
Monto 2593.742460100001 colones
Monto 2853.1167061100014 colones
Monto 3138.4283767210018 colones
Monto 3452.271214393102 colones
Monto 3797.4983358324125 colones
Monto 4177.248169415654 colones
Monto 4594.97298635722 colones
Monto 5054.470284992943 colones
Monto 5559.917313492238 colones
Monto 6115.909044841462 colones
Monto 6727.499949325608 colones

DIVISORES

In [ ]:
print("Digite numero")
numero=int(input("numero: "))

suma=0
for i in range(1,numero+1):
  if(numero%i==0):
    suma=suma+i
print (suma)
#1+2+5+10=18 ejemplo con 10
numero=int(input("Numero: "))

Digite numero
numero: 10
18